@using BiteOrderWeb.ViewModels
@model List<RestaurantSearchViewModel>
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="row">
    @foreach (var restaurant in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="@restaurant.ImageUrl" class="card-img-top" alt="@restaurant.Name" />
                <div class="card-body">
                    <h5 class="card-title">@restaurant.Name</h5>
                    <p class="card-text">@restaurant.Description</p>
                </div>
            </div>
        </div>
    }
</div>
